th {
  font-size: 14px;
}
th span {
  display: flex;
  flex-direction: row;  
  text-align: left;
}  
.school_name {
  padding-left: 15px;
}
.little_span {
  font-size: 12px;
}
.state {
  background-color:  rgb(13, 196, 7);
  border-radius: 15px;
  text-align: center;
  color:white;
  max-width: 48px;
  min-width: 48px;
  margin: 0px 5px 0px 5px;
}
/* .school_info {
  text-align: right;
  padding-right: 40px;
}
.school_info1 {
  text-align: right;
  padding-right: 50px;
} */
.button_numbers {
  padding: 0px;
  height: 24px;
  width: 23px;
  align-items: center;
  text-align: center;
  margin: 20px 3px 20px 3px;
  border: 2px solid #0099ff30;
  cursor: pointer;
  background-color: white;
}

.button_numbers:hover,
.button_numbers:focus {
    background:#0099ff30;
}

.button_numbers:focus {
  outline: 1px solid #0099ff70;
}
.button_arrow { 
  padding: 0px;
  height: 24px;
  width: 23px;
  align-items: center;
  text-align: center;
  margin: 20px 3px 20px 3px;
  border: 2px solid #0099ff30;
  cursor: pointer;
  background-color: white;
}
.button_arrow:focus {
  outline: 1px solid #0099ff30;
}