.mytable {
  width: 100%;
  border: 2px solid #0099ff;
  border-radius: 10px;
  margin-bottom: 10px;
}
thead td{
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  padding: 0px;
  text-align: left;
  table-layout: fixed;
}  
td.ascending { 
  padding-right: 0px;
  content:"\25BC";
} 
td.ascending::after {
  padding-right: 0px;
  content:"\25BC";
}
td.descending {
  content: '\25B2';
} 
td.descending::after {
  content: '\25B2';
} 
