body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden
}
h1, h2, h3, h4, h5, h6, th, tr {
  font-weight: normal;
}

h2 {
  font-size: 28px;
}
h4 {
  font-size: 20px;
}
p {
  font-size: 12px; 
}

